/* Nueva clase para eliminar el margen de los iconos */
.icon-no-margin {
    margin: 0;
}

/* Clase para asegurar que todos los iconos tengan el mismo tamaño */
.icon-size {
    width: 30px; /* Ajusta el tamaño según tus necesidades */
    height: 30px; /* Ajusta el tamaño según tus necesidades */
}

.text-white {
    color: #ffffff;
}

/* Clase para atenuar el color y reducir el tamaño del texto de derechos de autor */
.footer-copyright {
    color: #888; /* Color atenuado */
    font-size: 0.875rem; /* Tamaño de fuente reducido */
}

body {
    background-color: #121212;
    color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 0;
}

.header-container {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: space-between;
}

.logo-title-container {
    display: flex;
    align-items: center;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.header-container h1 {
    font-size: 1.5rem;
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .header-container h1 {
        font-size: 1.2rem;
    }

    nav ul li {
        margin-right: 10px;
    }

    .card {
        margin: 5px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .header-container h1 {
        font-size: 1.4rem;
    }
}

.logo {
    margin-right: 10px;
    height: auto;
    max-height: 100px;
}

nav.custom-navbar {
    background-color: #d3d3d3;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
}

nav ul li a:hover,
nav ul li a.active {
    background-color: #6b5858;
    color: #fff;
}

section {
    padding: 20px;
    flex: 1;
}

.division {
    border: 1px solid #333;
    padding: 20px;
    background-color: #f9f9f9;
}

.centrado-negrita-cursiva {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    width: 100%;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.social-media {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-media a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    margin: 5px 0;
}

.social-media img {
    width: 30px; /* Asegura que todos los iconos tengan el mismo tamaño */
    height: 30px; /* Asegura que todos los iconos tengan el mismo tamaño */
    margin-right: 10px;
}

.icon-no-margin {
    margin: 0;
}

.carousel-item {
    position: relative;
}

.carousel-item img {
    width: 100%;
    max-width: 400px;
    object-fit: cover;
    margin: auto;
}

.carousel-caption-top {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s;
    max-width: fit-content;
}

.carousel-item:hover .carousel-caption-top {
    opacity: 1;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width: 600px) {
    .card-container {
        flex-direction: column;
    }
}

.card {
    max-width: 300px;
    margin: 10px;
}

.empresa-img {
    height: auto;
    width: 100%;
    max-width: 300px;
    margin: 10px;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

@media (max-width: 600px) {
    .img-container {
        flex-direction: column;
    }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #6b6b6b;
    border-radius: 50%;
}

.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
    content: '';
}

.carousel-control-prev .visually-hidden,
.carousel-control-next .visually-hidden {
    color: #6b6b6b;
}

.form-register {
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
    max-width: 400px;
}

.form-register .form-control {
    background-color: #555;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.form-register .form-control:focus {
    background-color: #666;
    border-color: #777;
    box-shadow: none;
    color: #fff;
}

.form-register .btn-primary {
    background: linear-gradient(45deg, #6b6b6b, #333);
    border: none;
    border-radius: 5px;
    color: #fff;
}

.form-register .form-check-label a {
    color: #ccc;
}

.form-register .form-check-label a:hover {
    color: #fff;
}

.form-register .user-icon {
    max-width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.welcome-text-box {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.custom-section-title {
    color: white;
    text-align: justify;
}

.map-container {
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.map-container::before {
    content: "Búscanos";
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    z-index: 1000;
}

.card {
    text-align: center;
    
}

.rounded-container {
    border-radius: 15px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-container .card {
    margin-bottom: 20px;
}

.d-flex {
    display: flex !important;
    justify-content: center;
}

.card-oscura{
    background-color: #12121200;
}
.d-flex {
    display: flex !important;
    justify-content: flex-start;
}
/* assets/css/miestilo.css */
.nav-link.active {
    background-color: #6b4545; /* Cambia esto por el color de fondo que prefieras */
    color: #000; /* Cambia esto por el color de texto que prefieras */
}
